
.planet_cards{
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
}
.mat-card>:first-child, .mat-card-content>:first-child{
    height: 179px;
    width: 212px;
}
.planet_img{
    background-color: #e2e1d6;
    padding: 10px
}
.card_content{
    display:flex;
    flex-direction: column;
    line-height: 7%;
}
.card_content >h3{
    color:blue;
}
.mission_data{
    display: flex;
    align-items: baseline;
}
.mission_data p {
    color: blue;
}
.mission_id ul li{
    color: blue;
}
