.row{
    display: flex;
    flex: wrap;
}
.launch_year{
    flex: 25%;
    background-color: white;
    margin: 17px;
    height: 55em;
}
.planet_details{
    flex: 75%;
}
.filters{
padding-left: 18px;
}
.filter_border{
    margin: -7px 30px;
}
.filters > p {
    text-align:center;
}
.years_filter{
    display:flex;
    flex-wrap: wrap;
    flex: 50%;
    padding-left:13px;
}
.filter_groups{
    margin: 10px;
    padding: 10px;
}
.filter_group2{
    margin: 0 22px;
    background-color:#b4d6ab;
}
.year_button{
    background-color: #b4d6ab;
}
.year_button:hover{
    background-color: #59bf34;
}
.filter_group2:hover{
    background-color:#59bf34;
}
.active{
    background: #59bf34;
  }


  .active2{
    background: #59bf34;
  }









@media screen and (max-width: 600px) {
    .row {
      flex-direction: column;
    }
  }