<h1>SpaceX Launch Program</h1>
<div class="row">
<div class="launch_year">
<div class="filters">
  <h3>Filters</h3>
  <p>Launch year</p>
  <div class="years_filter">
  <div *ngFor="let year of years" class="filter_groups">
    <button mat-raised-button class="year_button" >{{year}}</button>
    </div>

  </div>
  </div>
  <div class="filters">
    <p>Successful Launch</p>
    <div >
      <button mat-raised-button class="filter_group2">True</button>
      <button mat-raised-button  class="filter_group2">True</button>
    </div>
  </div>
  <div class="filters">
    <p>Successful Landing</p>
    <div >
      <button mat-raised-button  class="filter_group2">True</button>
      <button mat-raised-button  class="filter_group2">True</button>
    </div>
  </div>
</div>
<div class="planet_details">
  <div class="planet_cards">
    <div *ngFor="let planet of planetData" class="planet_cards">
      <mat-card>
        <img src={{planet.links.mission_patch_small}} class="planet_img" />
        <mat-card-content>
          <div>
          <h5>{{planet.mission_name}}</h5>
          <h5>Launch Year: <p> {{planet.launch_year}}</p></h5>
          <h5 *ngFor="let id of planet.mission_id">
            <h5>Mission Ids: {{id}}</h5>
          </h5>
        </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
</div>