<h1>SpaceX  Launch Program</h1>
<div class="row">
<div class="launch_year">
<div class="filters">
  <h3>Filters</h3>
  <p>Launch year</p>
  <div class="years_filter">
  <div *ngFor="let year of years" class="filter_groups">
    <button mat-raised-button class="year_button"  (click)="getplanetData(year)">{{year}}</button>
    </div>

  </div>
  </div>
  <div class="filters">
    <p>Successful Launch</p>
    <div class="years_filter">
      <div *ngFor="let val of apiValues" class="filter_groups">
        <button mat-raised-button class="year_button" (click)="getLaunchedPlanetData(val)">{{val}}</button>
        </div>
    
      </div>
  </div>
  <div class="filters">
    <p>Successful Landing</p>
    <div class="years_filter">
      <div *ngFor="let val of apiValues" class="filter_groups">
        <button mat-raised-button class="year_button" (click)="getLandPlanetData(val)">{{val}}</button>
        </div>
    
      </div>
  </div>
</div>




<div class="planet_details">
  <app-planet-card [planetCardData]='planetData'></app-planet-card>
</div>
</div>