.row{
    display: flex;
    flex: wrap;
}
.launch_year{
    border: 1px solid black;
    flex: 25%;
    background-color: white;
    margin: 17px;
    height: 90em;
}
.planet_details{
    border: 1px solid red;
    flex: 75%;
    margin: 17px;
}
.filters{
    /* margin: 10px; */
padding: 20px;
}
.filters > p {
    border-bottom: 1px solid gray;
    text-align:center;
}
.years_filter{
    display:flex;
    flex-wrap: wrap;
    flex: 50%;
    padding-left:13px;
}
.filter_groups{
    margin: 10px;
    padding: 10px;
}
.filter_group2{
    margin: 0 22px;
    background-color:#6eb882;
}
.year_button{
    background-color: #6eb882;
}
.year_button:hover{
    background-color: #59bf34;
}
.filter_group2:hover{
    background-color:#59bf34;
}










@media screen and (max-width: 600px) {
    .row {
      flex-direction: column;
    }
  }